<form method="POST">
  <div class="mb-3">
    <input placeholder="Фамилия" name="surname" type="text" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="Имя" name="name" type="text" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="date" name="date" type="datetime-local" class="form-control" required />
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
