html {
  height: 100%;
}

body {
  background-image: url(/css/image/beige-and-black-chair-in-front-of-white-desk-509922.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-position-y: -54px;
  height: 100%;
}

img{
  width: 400px;
  height: 400px;
}

.clientContainer {
  display: flex;
  justify-content: space-between;
}
.leavecomment {
  display: flex;
  flex-direction: column;
}
.btn-comment {
  width: 50%;
  margin: 10px 0;
}

.header .bg-light{
  background-color: inherit !important;
}

